h1{
    color: white;
}

body{
    background-color: black;
    text-align: center;
}
a{
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

img{
    background-position: 50% 50%;
}
