@charset "UTF-8";

body{
    background-image: url(imagens/espaco.jpg);
    background-size: cover;
    background-attachment: fixed;
}

div{
    height: 650px;
    background-image: url(imagens/astronauta.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}